DJANGO_SECRET_KEY=secret_key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_PSQL_NAME=db_name
DATABASE_PSQL_USER=db_user
DATABASE_PSQL_PASSWORD=db_password
DATABASE_PSQL_HOST=localhost
DATABASE_PSQL_PORT=5432

URL_BACK=http://localhost:8000
URL_FRONT=http://localhost:3000

API3M_URL=url_api3m
API3M_TOKEN=access_token

OIDC_TOKEN_CHECK_ENDPOINT=